@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif !important;
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#nuevaAtraccion .btn {
	background-color: #dabc5c !important;
	color: white !important;
	margin-bottom: 10px;
}

#nuevaAtraccion .btn:hover {
	background-color: #b19436 !important;
	color: white !important
}

#nuevaPromocion .btn {
	background-color: #dabc5c !important;
	color: white !important;
	margin-bottom: 10px;
}

#nuevaPromocion .btn:hover {
	background-color: #b19436 !important;
	color: white !important
}

#nuevoUsuario .btn {
	background-color: #dabc5c !important;
	color: white !important;
	margin-bottom: 10px;
}

#nuevoUsuario .btn:hover {
	background-color: #b19436 !important;
	color: white !important
}

.page-item.active .page-link {
	background-color: #dabc5c !important;
	border: 1px solid grey;
}

.page-link {
	color: black !important;
}

img {
	max-width: 100%;
}

footer {
	text-align: center;
	color: white;
	font-size: 12px;
	position: relative;
	margin-bottom: 0;
}

footer p {
	margin-bottom: 0px;
}

header {
	margin: 0 auto;
	color: white;
	position: fixed;
	z-index: 99999;
	left: 0;
	right: 0;
	margin-bottom: 15px;
}

.navbar {
	background-color: #dabc5c !important;
}

.navbar-brand {
	color: white !important;
}

.dropdown-menu {
	background-color: #dabc5c !important;
}

.dropdown-item {
	color: white !important;
	font-size: 16px;
}

.dropdown-item:hover {
	background-color: #b19436;
	color: white !important;
}

.dropdown-menu[data-bs-popper] {
	top: 100%;
	right: 0;
	margin-top: 0.125rem;
}

.nav-item .nav-link {
	text-decoration: none;
	color: white !important;
	font-size: 20px;
}

.nav-item .nav-link:hover {
	text-decoration: none;
	color: #7a5a47 !important;
}

.nav-item .nav-link {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}

.img-responsive {
	max-width: 50px;
	max-height: 39px;
}

main {
	display: block;
	flex: 1 0 auto;
	padding-top: 80px;
	padding-bottom: 20px;
	margin: 0 auto;
	display: grid;
	min-width: 60vw !important
}

img {
	width: 100%;
}

form label {
	color: black;
}

form .btn {
	background-color: #dabc5c !important;
	color: white !important
}

form .btn:hover {
	background-color: #b19436 !important;
	color: white !important
}

form {
	max-width: 60%;
}

.container {
	margin: 0 auto !important;
	display: flex;
	justify-content: center;
}